<section class="page-section bg-light" id="visiter" style="margin-top: -10%">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Meilleurs Places à Visiter</h3>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal1">
                        <div class="visiter-hover">
                            <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button>
                        </div>
                        </div>
                        <img class="img-fluid" src="assets/img/houmet.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">Houmt Souk</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal2">
                        <div class="visiter-hover">
                         <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/Midoun.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">Midoun</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal3">
                        <div class="visiter-hover">
                         <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/hoo.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">Djerbahood</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal4">
                        <div class="visiter-hover">
                         <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/fla.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">L’Ile aux Flamants rose
</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal5">
                        <div class="visiter-hover">
                         <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/explo.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">Le Parc Djerba Explore</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="visiter-item">
                    <a class="visiter-link" data-toggle="modal" href="#visiterModal6">
                        <div class="visiter-hover">
                         <div class="visiter-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Savoir Plus</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/gala.jpg" alt="" />
                    </a>
                    <div class="visiter-caption">
                        <div class="visiter-caption-heading">Le musée De Guellela</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>         

<!-- visiter Modals-->
        <!-- Modal 1-->
        <div class="visiter-modal modal fade" id="visiterModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Houmt Souk</h2>
                                    <hr size="4" color="blue">

                                    <p class="item-intro text-muted">Houmt-Souk est la ville principale de l’île, qui compte plus de 20 000 habitants. Vous tomberez sous le charme de cette ville charmante, à l’architecture particulière, mélangeant les façades blanchies à la chaux aux magasins ultra colorés et fleuris. Animée et débordante de vie, cette petite ville vous fera découvrir ses jolies ruelles ainsi que ses souk, véritables incontournables de l’île, si vous vous demandez que faire à Djerba ! Épices, légumes, poissons à la criée, mais aussi objets d’artisanat local ou vêtements, que ce soit pour déjeuner ou pour ramener des souvenirs, vous trouverez votre bonheur !</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/Houmt_Souk_Café.jpg" target="_blank">
                                              <img src="assets/img/Houmt_Souk_Café.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="visiter-modal modal fade" id="visiterModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Midoun</h2>
                                    <hr size="4" color="blue">

                                    <p class="item-intro text-muted">Si vous partez visiter Djerba, ne manquez pas de vous rendre à Midoun, la 2eme ville de Djerba, située à l’est de l’île. Cette petite ville aux rues colorées, remplies de boutiques de souvenir, vaut le détour. Flânez au milieu de ses ruelles, admirez ses poteries, découvrez son marché aux 1000 saveurs, couleurs et odeurs ! Les amateurs de randonnées seront idéalement situés pour découvrir de jolis sentiers aux alentours.</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/Midoun.jpg" target="_blank">
                                              <img src="assets/img/Midoun.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="visiter-modal modal fade" id="visiterModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Djerbahood</h2>
                                    <hr size="4" color="blue">

                                    <p class="item-intro text-muted">Visiter Djerba, c’est également découvrir un lieu incroyable et atypique : Djerbahood. C’est dans le village dErriadh que vous découvrirez ce véritable lieu d’expressions pour les artistes du monde entier. Ici, les murs sont entièrement tapissés d’œuvres de street art ! Pour faire simple, c’est un musée à ciel ouvert qui s’offre à vous là ou vous ne l’attendrez pas. Depuis juin 2014, vous pouvez admirer plus de 250 œuvres, parfaitement intégrer dans le décor. A ne louper sous aucun prétexte !</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/hoo.jpg" target="_blank">
                                              <img src="assets/img/hoo.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 4-->
        <div class="visiter-modal modal fade" id="visiterModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">L’Ile aux Flamants rose</h2>
                                    <hr size="4" color="blue">

                                    <p class="item-intro text-muted">Que faire à Djerba ? Embarquer à bord d’un bateau pirate pour découvrir l’île aux flamants rose ! Cette excursion vous fera passer un agréable moment dans un décor de carte postale. Vous vous rendrez à la marine d’Houmt Souk pour monter à bord d’un véritable bateau de pirate, qui vous mènera vers une petite île remplie de flamand rose pataugeant dans une eau cristalline. Bien entendu, un petit bain sera possible !</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/fla.jpg" target="_blank">
                                              <img src="assets/img/fla.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 5-->
        <div class="visiter-modal modal fade" id="visiterModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Le Parc Djerba Explore</h2>
                                    <hr size="4" color="blue">
                                    <p class="item-intro text-muted">Le parc Djerba Explore, c’est en fait un village et un parc de loisirs et d’attractions dédiés au patrimoine et à la culture de l’île. Découpé en 5 parties, vous y trouverez : un petit village typique, avec des boutiques, des cafés et des restaurants, le musée Lalla Hadria dont on vous parlait plus haut, une partie nommée « Djerba Héritage » pour découvrir la culture et les traditions du pays, et enfin la ferme aux crocodiles, une des plus grande du continent, abritant plus de 400 crocodiles, dans un univers typique.</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/explo.jpg" target="_blank">
                                              <img src="assets/img/explo.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 6-->
        <div class="visiter-modal modal fade" id="visiterModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Le musée De Guellela</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <hr size="4" color="blue">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <div class="thumbnail">
                                              <a href="assets/img/gala.jpg" target="_blank">
                                              <img src="assets/img/gala.jpg"  style="width:100%">
                                          </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
