.rounded-circle {
    max-width: 150px!important ;
  }

  .btn-success:hover {
    background-color: #00ff92 !important ;
    border-color: #00ff92 !important;}

.btn-success {
     background-color: #19a86a !important;
     border-color: #19a86a !important;}