<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meilleurs Hotels</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle " src="assets/img/team/sun.jpg" alt="" />
                    <h4>Jerba Sun Club</h4>
                     <div id="stars" style="color: #FFD700">
                        <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span>
                     </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    
                    <img class="mx-auto rounded-circle" src="assets/img/team/rad.jpg" alt="" />
                    <h4>Radisson Blue</h4>
                     <div id="stars" style="color: #FFD700">
                        <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span>  <span class="material-icons"> star_rate </span>
                    </div>
                    <p class="text-muted"></p>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/car.jpg" alt="" />
                    <h4>Caribbean World Djerba</h4>
                    <div id="stars" style="color: #FFD700">
                        <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span> <span class="material-icons"> star_rate </span>
                    </div>
                                               
                </div>
            </div>
        </div>
        
    </div>
</section>          