<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio" style="margin-top: -10%">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Meilleurs Restaurants</h3>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Malibou</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                         <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Kool Food</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                         <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Fratelli</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                         <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Il-papagallo</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                         <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Istanbul</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                         <div class="portfolio-hover-content"><button type="button" class="btn btn-success" style="background-color: #00ff9d">Donner votre avis</button></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/06-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Baba Slim</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"  style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Malibu Island</h2>
                                    <br>
                                   
                                    
 
                                        <div class="row">
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/mali1.jpg" target="_blank">
                                                <img src="assets/img/mali1.jpg"  style="width:100%">
                                            </a>
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/mali2.jpg" target="_blank">

                                                <img src="assets/img/mali2.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/mali3.jpg" target="_blank">

                                                <img src="assets/img/mali3.jpg" style="width:100%">
                                                </a>
                                              
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/mali4.jpg" target="_blank">

                                                <img src="assets/img/mali4.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                        </div>
                                        <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1315.4661905427652!2d10.865405142280736!3d33.87968391302606!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa5175d40dc41%3A0x699c4db2e0bbb88c!2sRestaurant%20Pizzeria%20Malibu!5e1!3m2!1sfr!2stn!4v1597094303871!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0; padding :2px; box-shadow :0 2px 8px rgba(50,50,50,6); " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                        <style type="text/css">
	


                                            body{margin-top:20px;}
                                        
                                        .comment-wrapper .panel-body {
                                            max-height:650px;
                                            overflow:auto;
                                        }
                                        
                                        .comment-wrapper .media-list .media img {
                                            width:64px;
                                            height:64px;
                                            border:2px solid #e5e7e8;
                                        }
                                        
                                        .comment-wrapper .media-list .media {
                                            border-bottom:1px dashed #efefef;
                                            margin-bottom:25px;
                                        }
                                        
                                        
                                        </style>
                                        
                                       
                                        
                                            <div class="col-md-12  col-sm-12">
                                                <div class="comment-wrapper">
                                                    <div class="panel panel-info">
                                                        <br>

                                        <hr size="4" color="blue">
                                                        <h3>
                                                            Donner votre avis
                                                        </h3>
                                                        <br>

                                                        <div class="panel-body">
                                                            <form (ngSubmit)="CreateRecord()" #myForm="ngForm">
                                                                <div class="form-group">

                                                            <input type="text" class="form-control" id="exampleInputEmail1" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                                        </div>

                                                            <br>
                                                            <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                                        </form>
                                                            <div class="clearfix"></div>
                                                            <hr>
                                                            <ul class="media-list">
                                                                <li class="media" *ngFor ="let item of comment">
                                                                    <div *ngIf="item.id_article == 0" >

                                                                    <a href="#" class="pull-left">
                                                                        <img src="{{item.Photo}}" alt="" class="img-circle">
                                                                    </a>
                                                                    <div >
                                                                        
                                                                        <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                                        <p> {{item.commentaire}}</p>
                                                                    </div>
                                                                </div>

                                                                </li>
                                                                
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                       
                                        
                                        










                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Kool Food</h2>
                                    <hr size="4" color="blue">

                                    
 
                                        <div class="row">
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/kool1.jpg" target="_blank">
                                                <img src="assets/img/kool1.jpg"  style="width:100%">
                                            </a>
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/kool2.jpg" target="_blank">

                                                <img src="assets/img/kool2.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/kool3.jpg" target="_blank">

                                                <img src="assets/img/kool3.jpg" style="width:98%">
                                                </a>
                                              
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/kool8.jpg" target="_blank">

                                                <img src="assets/img/kool8.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                        </div>
                                        <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>
                                        
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.089010504261!2d10.861314911079473!3d33.87941438839074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa5e7e334e475%3A0x7129934d077768ba!2sKool%20Food!5e1!3m2!1sfr!2stn!4v1597095299016!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0; padding :2px; box-shadow :0 2px 8px rgba(50,50,50,6); " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                        
                                        <style type="text/css">
	


                                            body{margin-top:20px;}
                                        
                                        .comment-wrapper .panel-body {
                                            max-height:650px;
                                            overflow:auto;
                                        }
                                        
                                        .comment-wrapper .media-list .media img {
                                            width:64px;
                                            height:64px;
                                            border:2px solid #e5e7e8;
                                        }
                                        
                                        .comment-wrapper .media-list .media {
                                            border-bottom:1px dashed #efefef;
                                            margin-bottom:25px;
                                        }
                                        
                                        
                                        </style>
                                        
                                       
                                        
                                            <div class="col-md-12  col-sm-12">
                                                <div class="comment-wrapper">
                                                    <div class="panel panel-info">
                                                        <br>

                                        <hr size="4" color="blue">
                                                        <h3>
                                                            Donner votre avis
                                                        </h3>
                                                        <br>

                                                        <div class="panel-body">
                                                            <form (ngSubmit)="CreateRecord1()" #myForm="ngForm">
                                                                <div class="form-group">

                                                            <input type="text" class="form-control" id="exampleInputEmail2" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                                        </div>

                                                            <br>
                                                            <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                                        </form>
                                                        <div class="clearfix"></div>
                                                            <hr>
                                                            <ul class="media-list">
                                                                <li class="media" *ngFor ="let item of comment" >
                                                                    <div *ngIf="item.id_article == 1" >
                                                                    <a href="#" class="pull-left">
                                                                        <img src="{{item.Photo}}" alt="" class="img-circle">
                                                                    </a>
                                                                    <div >
                                                                        
                                                                        <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                                        <p> {{item.commentaire}}</p>
                                                                    </div>
                                                                </div>
                                                                </li>
                                                                
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                            </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Fratelli</h2>
                                    
                                    <hr size="4" color="blue">

                                        <div class="row">
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/fra3.jpg" target="_blank">
                                                <img src="assets/img/fra3.jpg"  style="width:100%">
                                            </a>
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/fra2.jpg" target="_blank">

                                                <img src="assets/img/fra2.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/fra1.jpg" target="_blank">

                                                <img src="assets/img/fra1.jpg" style="width:100%">
                                                </a>
                                              
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/fra4.jpg" target="_blank">

                                                <img src="assets/img/fra4.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                        </div>
                                        <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1315.5283441713373!2d10.864190243112846!3d33.87565373997868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa4eb09d2df29%3A0xe3141513e4a0a156!2sFratelli!5e1!3m2!1sfr!2stn!4v1597179687775!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0; padding :2px; box-shadow :0 2px 8px rgba(50,50,50,6); " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                        <style type="text/css">
	


                                            body{margin-top:20px;}
                                        
                                        .comment-wrapper .panel-body {
                                            max-height:650px;
                                            overflow:auto;
                                        }
                                        
                                        .comment-wrapper .media-list .media img {
                                            width:64px;
                                            height:64px;
                                            border:2px solid #e5e7e8;
                                        }
                                        
                                        .comment-wrapper .media-list .media {
                                            border-bottom:1px dashed #efefef;
                                            margin-bottom:25px;
                                        }
                                        
                                        
                                        </style>
                                        
                                       
                                        
                                            <div class="col-md-12  col-sm-12">
                                                <div class="comment-wrapper">
                                                    <div class="panel panel-info">
                                                        <br>

                                        <hr size="4" color="blue">
                                                        <h3>
                                                            Donner votre avis
                                                        </h3>
                                                        <br>

                                                        <div class="panel-body">
                                                            <form (ngSubmit)="CreateRecord2()" #myForm="ngForm">
                                                                <div class="form-group">

                                                            <input type="text" class="form-control" id="exampleInputEmail3" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                                        </div>

                                                            <br>
                                                            <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                                        </form>

                                                            <div class="clearfix"></div>
                                                            <hr>
                                                            <ul class="media-list">
                                                                <li class="media" *ngFor ="let item of comment">
                                                                    <div *ngIf="item.id_article == 2" >

                                                                    <a href="#" class="pull-left">
                                                                        <img src="{{item.Photo}}" alt="" class="img-circle">
                                                                    </a>
                                                                    <div >
                                                                        
                                                                        <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                                        <p> {{item.commentaire}}</p>
                                                                    </div>
                                                                </div>

                                                                </li>
                                                                
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                       
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Il-papagallo</h2>
                                    <hr size="4" color="blue">

                                        <div class="row">
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/pap3.jpg" target="_blank">
                                                <img src="assets/img/pap3.jpg"  style="width:100%">
                                            </a>
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/pap2.jpg" target="_blank">

                                                <img src="assets/img/pap2.jpg"  style="width:100%">
                                            </a>
                                             
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/pap1.jpg" target="_blank">

                                                <img src="assets/img/pap1.jpg" style="width:100%">
                                                </a>
                                              
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12">
                                            <div class="thumbnail">
                                                <a href="assets/img/pap4.jpg" target="_blank">

                                                <img src="assets/img/pap4.jpg"  style="width:100%">
                                            </a>
                                             
                                </div>
                            
                            </div>
                            <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1315.4544671211404!2d10.856253379682286!3d33.8804461323574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa4ef63458387%3A0xfe953bc15b6e249e!2sRestaurant%20Pappagallo!5e1!3m2!1sfr!2stn!4v1597179757012!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                            <style type="text/css">
	


                                body{margin-top:20px;}
                            
                            .comment-wrapper .panel-body {
                                max-height:650px;
                                overflow:auto;
                            }
                            
                            .comment-wrapper .media-list .media img {
                                width:64px;
                                height:64px;
                                border:2px solid #e5e7e8;
                            }
                            
                            .comment-wrapper .media-list .media {
                                border-bottom:1px dashed #efefef;
                                margin-bottom:25px;
                            }
                            
                            
                            </style>
                            
                           
                            
                                <div class="col-md-12  col-sm-12">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <br>

                            <hr size="4" color="blue">
                                            <h3>
                                                Donner votre avis
                                            </h3>
                                            <br>

                                            <div class="panel-body">
                                                <form (ngSubmit)="CreateRecord3()" #myForm="ngForm">
                                                    <div class="form-group">

                                                <input type="text" class="form-control" id="exampleInputEmail4" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                            </div>

                                                <br>
                                                <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                            </form>
                                            <div class="clearfix"></div>
                                                <hr>
                                                <ul class="media-list">
                                                    <li class="media" *ngFor ="let item of comment">
                                                        <div *ngIf="item.id_article == 3" >

                                                        <a href="#" class="pull-left">
                                                            <img src="{{item.Photo}}" alt="" class="img-circle">
                                                        </a>
                                                        <div >
                                                            
                                                            <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                            <p> {{item.commentaire}}</p>
                                                        </div>
                                                    </div>

                                                    </li>
                                                    
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        <!-- Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Istanbul</h2>
                                    <hr size="4" color="blue">

                                    <div class="row">
                                      <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="assets/img/ista3.jpg" target="_blank">
                                            <img src="assets/img/ista3.jpg"  style="width:100%">
                                        </a>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="assets/img/ista2.jpg" target="_blank">

                                            <img src="assets/img/ista2.jpg"  style="width:100%">
                                        </a>
                                         
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="assets/img/ista1.jpg" target="_blank">

                                            <img src="assets/img/ista1.jpg" style="width:100%">
                                            </a>
                                          
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail">
                                            <a href="assets/img/ista5.jpg" target="_blank">

                                            <img src="assets/img/ista5.jpg"  style="width:100%">
                                        </a>
                                </div>
                            </div>
                            <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d402.56867068074536!2d10.858102300832336!3d33.875788197797974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa4e8f0bbc395%3A0xb7760419aa0ffc65!2sIstanbul%20restaurant!5e1!3m2!1sfr!2stn!4v1597179801162!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0; padding :2px; box-shadow :0 2px 8px rgba(50,50,50,6); " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                            <style type="text/css">
	


                                body{margin-top:20px;}
                            
                            .comment-wrapper .panel-body {
                                max-height:650px;
                                overflow:auto;
                            }
                            
                            .comment-wrapper .media-list .media img {
                                width:64px;
                                height:64px;
                                border:2px solid #e5e7e8;
                            }
                            
                            .comment-wrapper .media-list .media {
                                border-bottom:1px dashed #efefef;
                                margin-bottom:25px;
                            }
                            
                            
                            </style>
                            
                           
                            
                                <div class="col-md-12  col-sm-12">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <br>

                            <hr size="4" color="blue">
                                            <h3>
                                                Donner votre avis
                                            </h3>
                                            <br>

                                            <div class="panel-body">
                                                <form (ngSubmit)="CreateRecord4()" #myForm="ngForm">
                                                    <div class="form-group">

                                                <input type="text" class="form-control" id="exampleInputEmail5" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                            </div>

                                                <br>
                                                <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                            </form>
                                            <div class="clearfix"></div>
                                                <hr>
                                                <ul class="media-list">
                                                    <li class="media" *ngFor ="let item of comment">
                                                        <div *ngIf="item.id_article == 4" >

                                                        <a href="#" class="pull-left">
                                                            <img src="{{item.Photo}}" alt="" class="img-circle">
                                                        </a>
                                                        <div >
                                                            
                                                            <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                            <p> {{item.commentaire}}</p>
                                                        </div>
                                                    </div>

                                                    </li>
                                                    
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        <!-- Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgb(245, 245, 245)">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Baba Slim</h2>
                                    <br>

                                        <h2 class="text-uppercase col-12" style="font-size: 36px;">Emplacement</h2>
                                        <br>
                                      

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.0183705033617!2d10.871729068858006!3d33.87800748354613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaa493e7d073f3%3A0x62c4ecdc98e437a5!2sRestaurant%20BABA%20SLIM!5e1!3m2!1sfr!2stn!4v1597179877957!5m2!1sfr!2stn" width="725" height="450" frameborder="0" style="border:0; padding :2px; box-shadow :0 2px 8px rgba(50,50,50,6); " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                            <style type="text/css">
	


                                body{margin-top:20px;}
                            
                            .comment-wrapper .panel-body {
                                max-height:650px;
                                overflow:auto;
                            }
                            
                            .comment-wrapper .media-list .media img {
                                width:64px;
                                height:64px;
                                border:2px solid #e5e7e8;
                            }
                            
                            .comment-wrapper .media-list .media {
                                border-bottom:1px dashed #efefef;
                                margin-bottom:25px;
                            }
                            
                            
                            </style>
                            
                           
                            
                                <div class="col-md-12  col-sm-12">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <br>

                            <hr size="4" color="blue">
                                            <h3>
                                                Donner votre avis
                                            </h3>
                                            <br>
                                            <div class="panel-body">
                                                <form (ngSubmit)="CreateRecord5()" #myForm="ngForm">
                                                    <div class="form-group">

                                                <input type="text" class="form-control" id="exampleInputEmail6" name="commentaire" required minlength="1" [(ngModel)]="commentaire" aria-describedby="emailHelp" placeholder="Ajouter un commentaire">
                                            </div>

                                                <br>
                                                <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-info pull-right">Ajouter</button>
                                            </form>
                                            <div class="clearfix"></div>
                                                <hr>
                                                <ul class="media-list">
                                                    <li class="media" *ngFor ="let item of comment">
                                                        <div *ngIf="item.id_article == 5" >

                                                        <a href="#" class="pull-left">
                                                            <img src="{{item.Photo}}" alt="" class="img-circle">
                                                        </a>
                                                        <div >
                                                            
                                                            <strong class="text-success" style="margin-left: 5px;">{{item.UserName}}</strong>
                                                            <p> {{item.commentaire}}</p>
                                                        </div>
                                                    </div>

                                                    </li>
                                                    
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


